@charset "utf-8";

.myorderitem-product-item {
  border: 1px solid #e7e6ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  gap: 4px;
  padding: 8px;
}

.myorderitem-product-item > img {
  width: 100%;
}
