@charset "utf-8";

#form_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#form_section > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 432px;
  margin-bottom: 20px;
}

#form_section > div > label {
  font-size: 12px;
  margin-bottom: 8px;
  color: #c2c5e1;
}

#form_section > div > input {
  width: 100%;
  height: 48px;
  border: 1px solid #c2c5e1;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0 16px;
  font-size: 16px;
}

#form_section input:focus {
  outline: none;
  border: 1px solid #fb2e86;
}

.form_input-margin-none {
  margin-bottom: 0px !important;
}

.form_btn {
  width: 100%;
  max-width: 432px;
  height: 48px;
  background-color: #fb2e86;
  border: none;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 8px;
}

.form_btn:disabled {
  background-color: grey;
}
