@charset "utf-8";

form.qnawrite-form {
  width: 90%;
  margin: 0 auto;
}

.qnawrite-form div {
  width: 100%;
  margin: 10px 0;
}

.qnawrite-form label {
  display: block;
  width: 100%;
  padding: 5px;
}
.qnawrite-form input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #333333;
  padding: 5px;
  height: 25px;
}

.qnawrite-form .qnawrite-col-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.qnawrite-form .qnawrite-col-wrap label {
  width: 30%;
  line-height: 33px;
}

.qnawrite-form .qnawrite-content-wrap textarea {
  width: 100%;
  border: 1px solid #333333;
  height: 200px;
  resize: none;
}

.qnawrite-form button {
  display: block;
  margin: 20px auto;
}

.qnawrite-control a {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.qnawrite-form button {
  background-color: rgb(252, 227, 116);
  border: none;
  border-radius: 2px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  font-size: 14px;
  width: 100px;
  line-height: 26px;
}