#admin_qna-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#admin_qna-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: #e7e6ef;
  margin-bottom: 48px;
  gap: 16px;
}
#admin_qna-list-wrapper {
  width: 900px;
  text-align: center;
  font-size: 18px;
  border-collapse: separate;
}

#admin_qna-list-wrapper th {
  font-weight: 600;
  font-size: 20px;
  padding: 20px 0;
}

#admin_qna-list-wrapper td {
  border-bottom: 1px solid #e7e6ef;
  padding: 25px 0;
}

.qna-btn {
  width: 98px;
  height: 30px;
  background-color: #fce374;
  border: none;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  margin-left: 5px;
}
