@charset "utf-8";

#myorderitem-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e7e6ef;
  padding: 32px;
  box-sizing: border-box;
}

.myorderitem-order-time {
  font-size: 24px;
  font-weight: 600;
}

.myorderitem-product-section {
  display: flex;
  width: 100%;
  margin-top: 16px;
}

.myorderitem-product-list {
  border: 1px solid #e7e6ef;
  display: flex;
  padding: 24px;
  width: 100%;
  gap: 24px;
  flex-wrap: wrap;
}

.myorderitem-product-status {
  border: 1px solid #e7e6ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  width: 25%;
  border-left: 0;
  gap: 4px;
}

.myorderitem-product-status > button {
  width: 100%;
  height: 24px;
  background: #fb2e86;
  border: none;
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}

.myorderitem-product-status > button:disabled {
  background: grey;
}
