@charset "utf-8";

.admin_randombox-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.randombox-addBtn {
  width: 100px;
  height: 40px;
  background: rgb(36, 36, 36);
  border: none;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  margin-right: 40px;
}
