@charset "utf-8";

#ranklist-wrap {
  margin: 50px;
}

#ranklist-wrap h2 {
  text-align: center;
}

.rank-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.rank-list > li {
  width: 19%;
  margin: 0px 0.5%;
  transition: transform 1s;
}

.rank-list > li a {
  display: block;
  padding: 5px;
  background-color: #96dcdf;
  border-radius: 30px;
}

.rank-list > li img {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: block;
}

.rank-list > li span.ranklist-boxname {
  display: block;
  text-align: center;
  margin: 10px 0 20px;
  padding: 10px 0;
  background-color: #f7f7f7;
  border-radius: 20px;
}

.rank-list > li:hover {
  transform: translateY(-10px);
  transition: transform 1s;
}

.rank-list > li:hover span.ranklist-boxname  {
  background-color: #fff6bc;
}

.ranklist-catename {
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  display: block;
  margin-bottom: 11px;
}
