@charset "utf-8";

.admin_category-list .category-item {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e6ef;
}

.admin_category-list .category-item:last-child {
  border-bottom: 0;
}

.category-item .btn {
  width: 68px;
  height: 30px;
  background-color: #fce374;
  border: none;
  border-radius: 2px;
  text-align: center;
  color: #000;
}
