@charset "utf-8";

#qna-container table.qnaview-table {
  border-top: 2px solid #FCE374;
  border-bottom: 1px solid #333333;
}

#qna-container table.qnaview-table tr {
  border-top: 1px solid #333333;
}

#qna-container table.qnaview-table tr td {
  width: 100%;
  padding: 10px;
}

#qna-container table.qnaview-table thead tr th {
  padding: 20px 10px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

#qna-container table.qnaview-table tr td span {
  font-size: 12px;
}

#qna-container table.qnaview-table tr td.qnaview-area {
  height: 250px;
  overflow-y: scroll;
  text-align: left;
  vertical-align: top;
  display: block;
}

#qna-container .qnaview-control {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-top: 20px;
}

#qna-container .qnaview-control a{
  padding: 10px;
}

.qnaview-control button,
.qnaview-control a { 
  background-color: rgb(252, 227, 116);
  border: none;
  border-radius: 2px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 0 5px;
  font-size: 14px;
  width: 100px;
}

.qnaview-control a { 
  width: 80px;
}

.qnaview-control button{ 
  width: 100px;
}